label {
    font-size: 21px;
    font-weight: bold;
    font-family: arial;
}
h1 {
    font-size: 56px;
    text-align: center;
    padding-top: 50px;
    font-family: 'times new roman';
}
button{
    width:100%;
    height:45px; 
}
option{
    padding:15px;
}